* {
  font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

nav {
  height: 8vh;
}
a {
  color: white !important;
  text-decoration: none !important;
}
.a {
  font-size: 15px;
}
li button {
  color: white !important;
}
button:hover {
  opacity: 0.7;
}
h1 {
  font-size: 3.8vw;
}

/* Estilos para la consola */
.console{
  width:75%;
  max-height:50vh;
}
.console::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background-color: #888;
}

.console::-webkit-scrollbar-thumb {
  background-color: #234a91;
  border-radius: 10px;
}

.index {
  background-color: #0011f2;
}

.section-index {
  height: 60vh;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.intr-ul {
  list-style: none;
  margin-top: 2rem;
}

.class {
  padding-top: 3rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: calc(var(--bs-gutter-x) * 0.5);
}

.class-teory {
  text-decoration: none;
  background-color: #010483;
  border-radius: 15px !important;
}

.class-teory:hover {
  opacity: 0.7;
}

.class-teory-null {
  text-decoration: none;
  border-radius: 15px;
} 

.item {
  width: 60vw;
  margin-left: 20vw;
}

.border-content {
  border: 2px solid #fff;
  border-radius: 10px;
}

.mt-7 {
  margin-top: 40px;
}

.mb-7 {
  margin-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: rgba(1, 4, 136, 0.9);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/*
 Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  height: auto;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 3px;
  left: 30px;
  background-color: white;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: "##010483";
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #1acc8d;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
@media (max-width: 1038px) {
  .class-teory {
    width: 90% !important;
  }
}

/*
 Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {

  .console{
    font-size:0.71rem!important;
  }

  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 3, 91, 0.9);
  transition: 0.3s;
  z-index: 999 !important;
}
.navbar-mobile-micropython{
  background: rgba(179, 66, 41, 0.9);
  color: rgb(179, 66, 41)
}
.navbar-mobile-micropython li a, .navbar-mobile-micropython li p{
  color: rgb(179, 66, 41)!important
}
.navbar-mobile-micropython li a:hover{
  color: rgb(179, 66, 41)!important
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: inline-grid;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  height: auto;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #0205a1 !important;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #3f43fd;
}

.navbar-mobile .dropdown ul,
.navbar-mobile .dropdown .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li,
.navbar-mobile .dropdown .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a,
.navbar-mobile .dropdown .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i,
.navbar-mobile .dropdown .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown > .dropdown-active,
.navbar-mobile .dropdown .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  position: relative;
  padding: 120px 0 0 0;
  z-index: -1;
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0 0 20px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: rgba(255, 255, 255, 0.8);
}

#hero h1 span {
  color: #fff;
  border-bottom: 4px solid #1acc8d;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: dark !important;
  background: #2f6997;
}

#hero .btn-get-started:hover {
  background: #4b4b4b;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    padding-top: 80px;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    max-width: 50%;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 10px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  p.w-75,
  h3.w-75,
  img.w-75,pre.w-75, h6.w-75,.console, div .justify-content-between
    {
    width: 100% !important;
  }
  .w-50 {
    width: 90% !important;
  }
  .access {
    color: #012973 !important;
  }
  .mobile-nav-toggle {
    display: block;
  }

  ol,
  ul {
    padding-left: 0.4rem;
  }

  #hero .hero-img img {
    width: 80%;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Waves
--------------------------------------------------------------*/
.hero-waves {
  display: block;
  margin-top: 60px;
  width: 100%;
  height: 60px;
  z-index: 5;
  position: relative;
}

.wave1 use {
  animation: move-forever1 10s linear infinite;
  animation-delay: -2s;
}

.wave2 use {
  animation: move-forever2 8s linear infinite;
  animation-delay: -2s;
}

.wave3 use {
  animation: move-forever3 6s linear infinite;
  animation-delay: -2s;
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #fff;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #1acc8d;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  background: #f5f5ff;
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}

.counts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  background: #010483;
  padding: 12px;
  color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  width: 48px;
  height: 48px;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #010483;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.accodion-button {
  border-radius: 50px !important;
}
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
.accordion-button:focus {
  border-color: none !important;
  box-shadow: none !important;
}
/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/
.details .welcome + .welcome {
  margin-top: 100px;
}

.details .welcome h3 {
  font-weight: 600;
  font-size: 26px;
  color: #010483;
}

.details .welcome ul {
  list-style: none;
  padding: 0;
}

.details .welcome ul li {
  padding-bottom: 10px;
}

.details .welcome ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #1acc8d;
}

.details .welcome p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

.testimonials .testimonial-item {
  text-align: center;
  color: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  color: #eee;
  width: 80%;
  font-size:0.8rem
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info svg {
  float: left;
  width: 40x;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #010483;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #0205a1;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
}

@media (max-width: 575px) {
  #footer .footer-top{
    margin: -20px 0 30px 0;
  }
}


/* chatbot assistance */
.virtual-assistant {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;
}

.chat-button, .chat-button img {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  z-index: 20;
}

.chat-window {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 400px;
  height: 380px;
  z-index: 20;
  border-radius: 20px;
  transition: width 0.5s ease, height 0.5s ease;
}

.chat-body {
  height: 300px;
  z-index: 20;
}

.chat-body::-webkit-scrollbar,bot-message pre code::-webkit-scrollbar  {
  height: 8px;
  width: 8px;
  background-color: #888;
}

.chat-body::-webkit-scrollbar-thumb, bot-message pre code::-webkit-thumb  {
  background-color: #234a91;
  border-radius: 10px;
}
.bot-message{
  max-width: 80%;
  background: #3872a4;
  align-self: flex-start;
  border: solid 1px black;
  border-radius:15px!important;
  margin-bottom: 1rem;
}

.user-message{
  max-width: 80%;
  background: #515151;
  align-self: flex-end;
  border: solid 1px black;
  border-radius:15px!important;
  margin-bottom: 1rem;
}

.bot-message p, .user-message p, .bot-message h1, .bot-message h2, .user-message h1, .user-message h2 {
  margin: 0px;
  font-size: 16px
}

.bot-message code{
  color: #fde362;
}
.bot-message pre{
  padding: 10px;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  border-radius:10px;
  background-color:#343a40;
}
.bot-message pre::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background-color: #888;
}

.bot-message pre::-webkit-scrollbar-thumb {
  background-color: #fde362;
  border-radius: 10px;
  width: 10%;
}

.item-bot{
  color: #cccc;
  width:36px;
  height:36px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  align-self: flex-start;
  padding-left:20px;
}

.item-user{
  width:36px;
  height:36px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  align-self: flex-end;
  color: #cccc;
}
.btn-send{
  background: #ffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 40px
}
.input-group img{
  width: 20px;
  
}

.disabled{
  background: #cccc;
}

.chat-size i {
  cursor: pointer;
}

.chat-size i:hover {
  scale: 1.1
}

.chat-max-size {
width: 60%;
height: 73%;
transition: width 0.5s ease, height 0.5s ease;
}

@media (width < 700px) {
  .chat-size i {
    display: none;
  }
}

@media (width < 600px) {
  .chat-window {
    width: 300px;
  }
  .item-bot, .item-user{
    width:15px;
    height:15px;
    margin-bottom: 4px;
  }
  
  .user-message, .bot-message{
    max-width: 270px;
  }

}